

<!-- Contact section
================================================== -->
<section id="contact">
   <div class="container">
      <div class="row">

         <div class="wow fadeInUp col-md-6 col-sm-12" data-wow-delay="1.3s">
         	<div class="google_map">
				<div id="map-canvas"></div>
			</div>
		</div>

		<div class="wow fadeInUp col-md-6 col-sm-12" data-wow-delay="1.6s">
			<h1>Let's work together!</h1>
			<div id="success_message" style="padding: 10px;background-color: lightgreen;font-size: 16px;font-family: -webkit-body;display: none;"></div>
			<div class="contact-form">
				<%= form_for @contact, url: {action: "send_message"},remote: true, html: {class: "nifty_form"} do |f| %>
					<%= f.text_field :name, :class => "form-control", :placeholder => "Name", :required => true %>
					<%= f.text_field :email, :class => "form-control", :placeholder => "Email"  %>
					<%= f.text_field :phone, :class => "form-control", :placeholder => "Phone", :required => true  %>
					<%= f.text_area :message, :class => "form-control", :placeholder => "Message", :required => true  %>
					<%= f.submit "Send", :class => "form-control submit"  %>
				<% end %>
				
			</div>
		</div>

		<div class="clearfix"></div>

			<div class="col-md-4 col-sm-4">
				<div class="wow fadeInUp media" data-wow-delay="0.3s">
					<div class="media-object pull-left">
						<i class="fa fa-tablet"></i>
					</div>
					<div class="media-body">
						<h3 class="media-heading">Phone</h3>
						<p>+99 00 8877 6655</p>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-4">
				<div class="wow fadeInUp media" data-wow-delay="0.6s">
					<div class="media-object pull-left">
						<i class="fa fa-envelope"></i>
					</div>
					<div class="media-body">
						<h3 class="media-heading">Email</h3>
						<p>hello@company.com</p>
					</div>
				</div>
			</div>

			<div class="col-md-4 col-sm-4">
				<div class="wow fadeInUp media" data-wow-delay="0.9s">
					<div class="media-object pull-left">
						<i class="fa fa-globe"></i>
					</div>
					<div class="media-body">
						<h3 class="media-heading">Address</h3>
						<p>123 New Street, Old Town
                        </p>
					</div>
				</div>
			</div>

      </div>
   </div>
</section>
